#main-container {
    display: grid;
    grid-template-columns: minmax(200px, 20vw) minmax(70%, 80vw);
    min-height: 100vh;
}


.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#main {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 31% 31% 31%;
    justify-content: center;
}

@media (max-width: 1000px) {
    #main {
        grid-template-columns: 45% 45%;
    }
}

@media (max-width: 750px) {
    #main {
        display: flex;
        flex-direction: column;
        padding: 15px;
        gap: 15px;
    }
    .productContainer {
        margin: 15px;
    }
}

.filterContainer {
    padding: 5px;
    border: 2px solid black;
    margin: 5px;
    border-radius: 10px;
}

.productContainer {
    background-color: var(--tertiary-color);
    border-radius: 10px;
    display: inline-block;
    box-sizing: border-box;
    height: fit-content;
    margin: 15px;
    text-align: center;
}

.productInfoContainer {
    margin: 10px;
}

.productImage {
    object-fit: cover;
    width: 100%;
    height: 250px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.productTitle {
    text-align: center;
}

.buyButton {
    width: 80%;
    background-color: var(--secondary-color);
    display: inline-block;
    padding: 10px 5px;
    margin: 15px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
}

.buyButton:hover {
    cursor: pointer;
    filter: brightness(80%);
}

.buyButton:hover span {
    display:none
}

.buyButton:hover::before {
    content: "Detail";
}

#landingPage {
    position: relative;
    text-align: center;
    height: 100vh; /* Set the height to 100% of the viewport height */
    overflow: hidden;
}

.landingPageImage {
    display: block;
    margin: 0 auto;
    object-fit: cover;
    width: 100vw;
}

.landingPageTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 80px;
    padding: 25px;
    border-radius: 15px;
}


@media (max-width: 1250px) {
    #landingPage {
        display: none;
    }
}